.container {
    width: 300px;
    height: 400px;
    background-color: gray;
    text-align: center;
    line-height: 400px;
}

/* .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
보조선(이해를 돕기위한)
    width: 10px;
    background-color: red;
} */

.info {
    background-color: lime;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: normal;
}
